.logo {
    position: absolute;
    width: 186px;
    height: 62px;
    left: 100px;
    top: 25px;
}

.signin {
    position: absolute !important;
    width: 110px !important;
    height: 33px !important;
    left: 950px !important;
    top: 40px !important;

    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 33px !important;
    text-transform: none !important;

    background: linear-gradient(180deg, #34C2EB 0%, #13C690 87.5%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}

.signup {
    position: absolute !important;
    width: 110px !important;
    height: 33px !important;
    left: 1100px !important;
    top: 40px !important;

    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 33px !important;
    text-transform: none !important;

    background: linear-gradient(180deg, #34C2EB 0%, #13C690 87.5%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}

.about {
    position: absolute !important;
    width: 110px !important;
    height: 33px !important;
    left: 1180px !important;
    top: 40px !important;

    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 33px !important;
    text-transform: none !important;

    background: linear-gradient(180deg, #34C2EB 0%, #13C690 87.5%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}