.signUpLabel {
    position: absolute !important;
    width: 123px !important;
    height: 44px !important;
    left: 184px !important;
    top: 69px !important;

    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 44px !important;
    text-align: center !important;

    background: linear-gradient(180deg, #34C2EB 0%, #13C690 87.5%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}

p {
    position: absolute;
    width: 349px;
    height: 20px;
    left: 47px;
    top: 123px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;

    color: #383838;
}

img {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 135px;
    top: 67px;
}

.fullNameField {
    position: absolute !important;
    width: 334px !important;
    height: 47px !important;
    left: 55px !important;
    top: 183px !important;
}

.emailField {
    position: absolute !important;
    width: 334px !important;
    height: 47px !important;
    left: 55px !important;
    top: 254px !important;
}

.passwordField {
    position: absolute !important;
    width: 334px !important;
    height: 47px !important;
    left: 55px !important;
    top: 325px!important;
    border-color: #34C2EB !important;
}


.signUpButton {
    position: absolute !important;
    width: 130px !important;
    height: 50px !important;
    left: 157px !important;
    top: 461px !important;
}

.alreadyLink {
    position: absolute !important;
    width: 247px !important;
    height: 22px !important;
    left: 98px !important;
    top: 539px !important;

    /* Body Text */

    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    /* identical to box height */

    text-align: center !important;

    /* Main Gradient */

    background: linear-gradient(180deg, #34C2EB 0%, #13C690 87.5%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}

.note {
    position: absolute !important;
    width: 292px !important;
    height: 36px !important;
    left: 76px !important;
    top: 399px !important;

    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 18px !important;
    text-align: center !important;

    /* Secondary Black */

    color: rgba(29, 25, 18, 0.75) !important;
}