.heading {
    position: absolute;
    width: 604px;
    height: 312px;
    left: 100px;
    top: 130px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 104.4%;
    letter-spacing: -0.03em;

    background: linear-gradient(180deg, #34C2EB 0%, #13C690 87.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.landingImage {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 750px;
    top: 70px;
}

.signin {
    position: absolute !important;
    width: 130px !important;
    height: 50px !important;
    left: 100px !important;
    top: 420px !important;

    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 33px !important;
    color: #FFFFFF !important;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;

    background: linear-gradient(180deg, #34C2EB 0%, #13C690 87.5%) !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;
    border-radius: 8px !important;
}

.signup {
    position: absolute !important;
    width: 130px !important;
    height: 50px !important;
    left: 250px !important;
    top: 420px !important;
    
    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 33px !important;
    text-align: center !important;

    background: linear-gradient(180deg, #34C2EB 0%, #13C690 87.5%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;

    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) !important;
    border-radius: 8px !important;
    border-color: #34C2EB !important;
    border-width: 2px !important;
}